<%= form_for @owner do |f| %>
  <% if @owner.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@owner.errors.count, "error") %> prohibited
      this owner from being saved:</h2>
    <ul>
    <% @owner.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
    <p>
      <%= f.label "Име" %>
      <%= f.text_field :fname %>
    </p>

    <p>
      <%= f.label "Фамилия" %>
      <%= f.text_field :lname %>
    </p>

    <p>
      <%= f.label "Собственик на" %>
      <%= f.text_field :owner_of_an_animal %>
    </p>

    <p>
      <%= f.submit value: "Запази"%>  
    </p>
<% end %>
