<div id="wrap">
  <%= render 'welcome/menu' %>
  <h1>Собственици</h1>
   
  <table class = "index-table">
    <tr class = "line-one">
      <th>Име</th>
      <th>Фамилия</th>
      <th>Собственик на </th>
    </tr>
   
    <% @owners.each do |owner| %>
      <tr class = "line-two">
        <td><%= owner.fname %></td>
        <td><%= owner.lname %></td>
        <td><%= owner.owner_of_an_animal %></td>
        <td><%= link_to 'Преглед', owner_path(owner) %></td>
        <td><%= link_to 'Редактирай', edit_owner_path(owner) %></td>
        <td><%= link_to 'Изтрий', owner_path(owner), method: :delete %></td>
      </tr>
    <% end %>
  </table>
   <%= link_to 'Назад', root_path %>
   | <%= link_to 'Нов собственик', new_owner_path %> 
</div>