<div id="wrap">
	<p class = "show-train-station">
	  Име: <%= @owner.fname %>
	</p>

	<p class = "show-owner-station">
	  Фамилия: <%= @owner.lname %>
	</p>

	<p class = "show-doctor-station">
	  Собственик на: <%= @owner.owner_of_an_animal %>
	</p>

	<%= link_to 'Назад', owners_path %>
	| <%= link_to 'Редактирай', edit_owner_path(@owner) %>
</div>

