<%= form_for @doctor do |f| %>
  <% if @doctor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited
      this doctor from being saved:</h2>
    <ul>
    <% @doctor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
    <p>
      <%= f.label "Име" %>
      <%= f.text_field :fname %>
    </p>

    <p>
      <%= f.label "Фамилия" %>
      <%= f.text_field :lname %>
    </p>

    <p>
      <%= f.label "Имейл" %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label  "Рожденна дата" %>
      <%= f.date_select(:date_of_birth, start_year: 1935) %>
    </p>

    <p>
      <%= f.label  "Година на дипломиране" %>
      <%= f.date_select(:date_of_graduation, start_year: 1935) %>
    </p>

    <p>
      <%= f.submit value: "Запази"%>  
    </p>
<% end %>
