<div id="wrap">
  <%= render 'welcome/menu' %>
  <h1>Доктори</h1>
   
  <table class = "index-table">
    <tr class = "line-one">
      <th>Име</th>
      <th>Фамилия</th>
      <th>Имейл</th>
      <th>Рожденна дата </th>
      <th>Година на дипломиране </th>
    </tr>
   
    <% @doctors.each do |doctor| %>
      <tr class = "line-two">
        <td><%= doctor.fname %></td>
        <td><%= doctor.lname %></td>
        <td><%= doctor.email %></td>
        <td><%= doctor.shown_birth_date %></td>
        <td><%= doctor.shown_graduation_date %></td>
        <td><%= link_to 'Преглед', doctor_path(doctor) %></td>
        <td><%= link_to 'Редактирай', edit_doctor_path(doctor) %></td>
        <td><%= link_to 'Изтрий', doctor_path(doctor), method: :delete %></td>
      </tr>
    <% end %>
  </table>
   <%= link_to 'Назад', root_path %>
   | <%= link_to 'Нов доктор', new_doctor_path %> 
</div>