<div id="wrap">
	<p class = "show-train-station">
	  Име: <%= @doctor.fname %>
	</p>

	<p class = "show-doctor-station">
	  Фамилия: <%= @doctor.lname %>
	</p>

	<p class = "show-doctor-station">
	  Имейл: <%= @doctor.email %>
	</p>

	<p class = "show-doctor-station">
	  Рожденна дата: <%= @doctor.shown_birth_date %>
	</p>

	<p class = "show-train-station">
	  Година на дипломиране: <%= @doctor.shown_graduation_date %>
	</p>

	<%= link_to 'Назад', doctors_path %>
	| <%= link_to 'Редактирай', edit_doctor_path(@doctor) %>
</div>

