<table class = "index-page">
  <tr>
      <td><%= link_to 'Доктори', doctors_path %></td>
      <td><%= link_to 'Собственици', owners_path %></td>
      <td><%= link_to 'Животни', animal_passports_path %></td>
      <td><%= link_to 'Прегледи', appointments_path %></td>
      <td><%= link_to 'Лечения', treatments_path %></td>
      <td><%= link_to 'Паспорти', animal_passports_path %></td>
  </tr>
</table>



